schemas/payload/appAchievement/get_response.test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AppAchievement" >
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="ApplicationIDChoice" >
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="UID">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="36"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:integer" name="UIDEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AchievementIDChoice">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="UID">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="36"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:integer" name="UIDEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:integer" name="CmpAchievementUID"/>
                            <xs:element name="Name">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="500"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:float" name="Mark" minOccurs="0"/>
                            <xs:element name="ExistDocumentOrFileChoice">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="DocumentAchievementIDChoice">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="UID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="36"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:integer" name="UIDEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="File">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element type="xs:string" name="Base64"/>
                                                    <xs:element name="FileType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>