schemas/payload/competitiveBenefit/add.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:all>
                <xs:element name="CompetitiveBenefit">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="UIDCompetitiveGroup"/>
                            <xs:element type="xs:integer" name="IDBenefit"/>
                            <xs:element type="xs:integer" name="IDOlympicDiplomaType"/>
                            <xs:element type="xs:integer" name="EgeMinValue" minOccurs="0"/>
                            <xs:element type="xs:integer" name="IDOlympicType"/>
                            <xs:element name="IDOlympicLevels" minOccurs="0" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="IDOlympicLevel"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OlympicProfiles" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="IDOlympicProfile"  maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="UID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="36"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>