schemas/messagesFromEPGU/ApplicationCancel/xsd/m_applicationCancel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AppCancel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="UIDEpgu"/>
                            <xs:element type="xs:integer" name="IDStatus"/>
                            <xs:element type="xs:string" name="Status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>