schemas/payload/competitiveGroupSpecialty/add.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompetitiveGroupSpecialty">
					<xs:complexType>
						<xs:all>
							<xs:element type="xs:string" name="UID" />
							<xs:element type="xs:integer" name="IDOCSO"/>
							<xs:element type="xs:string" name="UIDCompetitiveGroup"/>
							<xs:element type="xs:integer" name="AdmissionNumber"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>