schemas/messagesFromEPGU/ApplicationAgreed/xsd/applicationAgreed.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplicationAgreeFromEPGU">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="UIDEpgu"/>
                            <xs:element type="xs:boolean" name="Agreed"/>
                            <xs:element type="xs:dateTime" name="AgreedDate"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
