schemas/payload/identification/add.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identification">
					<xs:complexType>
						<xs:all>
							<xs:element name="IDEntrantChoice">
								<xs:complexType>
									<xs:choice>
										<xs:element name="GUID">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="36"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element type="xs:string" name="SNILS"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:integer" name="IDDocumentType"/>
							<xs:element name="Surname">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Patronymic" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocSeries" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocOrganization">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:date" name="IssueDate"/>
							<xs:element type="xs:integer" name="IDOKCM"/>
							<xs:element type="xs:string" name="Base64File" minOccurs="0"/>
							<xs:element type="xs:string" name="FileType" minOccurs="0"/>
							<xs:element name="SubdivisionCode" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="7"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IDChoice">
								<xs:complexType>
									<xs:choice>
										<xs:element name="UID">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="36"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element type="xs:integer" name="UIDEpgu"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
