schemas/payload/document/ege.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DocumentCategoryFields">
		<xs:complexType>
			<xs:all>
				<xs:element type="xs:string" name="RegisterNumber"/>
				<xs:element type="xs:integer" name="IDRegion"/>
				<xs:element type="xs:integer" name="IDSubject"/>
				<xs:element type="xs:integer" name="Mark"/>
				<xs:element type="xs:date" name="ResultDate"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>