schemas/messagesFromEPGU/OriginalDocsType/xsd/originalDocsType.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OriginalDocsTypeFromEPGU">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="UIDEpgu"/>
                            <xs:element type="xs:boolean" name="Original"/>
                            <xs:element type="xs:dateTime" name="OriginalDate"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
