schemas/payload/competitiveGroup/add.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CompetitiveGroup">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="UID" />
                            <xs:element type="xs:string" name="UIDCampaign"/>
                            <xs:element name="Name">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="500"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:integer" name="IDLevelBudget" minOccurs="0"/>
                            <xs:element type="xs:integer" name="IDEducationLevel"/>
                            <xs:element type="xs:integer" name="IDEducationSource"/>
                            <xs:element type="xs:integer" name="IDEducationForm"/>
                            <xs:element type="xs:integer" name="IDOCSO"/>
                            <xs:element type="xs:integer" name="AdmissionNumber"/>
                            <xs:element type="xs:string" name="Comment" minOccurs="0" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
