schemas/payload/applicationsRating/file.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicationsRating">
					<xs:complexType>
						<xs:all>
							<xs:element type="xs:string" name="UIDCompetitiveGroup"/>
							<xs:element type="xs:integer" name="TotalApplicationCount"/>
							<xs:element type="xs:integer" name="AgreedCount"/>
							<xs:element name="Applications">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Application" maxOccurs="unbounded" minOccurs="1">
											<xs:complexType>
												<xs:all>
													<xs:element type="xs:long" name="UIDEpgu"/>
													<xs:element type="xs:integer" name="CGAppListPlace"/>
													<xs:element type="xs:integer" name="AgreedPlace"/>
													<xs:element type="xs:integer" name="AgreedPlaceChange"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
