schemas/messagesFromEPGU/EpguEntrantPhotoFile/epguEntrantPhotoFile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EpguEntrantPhotoFile">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="EpguEntrantUID"/>
                            <xs:element type="xs:string" name="SNILS"/>
                            <xs:element name="GUID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="36"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:integer" name="EpguUID"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
